{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="d-flex flex-column">
            <div class="card">
                <div class="card-body">
                    <strong>Password change successfully!</strong><br> <a href="{% url 'cards:home' %}">View home</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}