@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Scheherazade New+Slab:wght@400;700&family=Scheherazade+New:wght@400;700&family=Sunshiney&display=swap");
.card-preview-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-preview-1 > h5 {
  text-align: center;
  font-family: "Ephesis";
  width: 90%;
  font-size: 1.9rem;
  color: #bf9b3d;
  font-weight: normal;
  line-height: 1;
}
.card-preview-1 > p {
  text-align: center;
  font-family: "Scheherazade New";
  width: 70%;
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: normal;
  line-height: 1;
}
@media only screen and (max-width: 991px) {
  .card-preview-1 > h5 {
    text-align: center;
    font-family: "Ephesis";
    width: 90%;
    font-size: 5rem;
    color: #bf9b3d;
    font-weight: normal;
    line-height: 1;
  }
  .card-preview-1 > p {
    text-align: center;
    font-family: "Scheherazade New";
    width: 70%;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: normal;
    line-height: 1;
    padding: 20px;
  }
}

.card-preview-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-preview-2 > h5 {
  text-align: center;
  font-family: "Ephesis";
  width: 90%;
  font-size: 1.9rem;
  color: #bf9b3d;
  font-weight: normal;
  line-height: 1;
}
.card-preview-2 > p {
  text-align: center;
  font-family: "Scheherazade New";
  width: 70%;
  font-size: 0.9rem;
  color: #bf9b3d;
  font-weight: normal;
  line-height: 1;
}
@media only screen and (max-width: 991px) {
  .card-preview-2 > h5 {
    text-align: center;
    font-family: "Ephesis";
    width: 90%;
    font-size: 5rem;
    color: #bf9b3d;
    font-weight: normal;
    line-height: 1;
  }
  .card-preview-2 > p {
    text-align: center;
    font-family: "Scheherazade New";
    width: 70%;
    font-size: 1.5rem;
    color: #bf9b3d;
    font-weight: normal;
    line-height: 1;
    padding: 20px;
  }
}

.card-preview-3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-preview-3 > h5 {
  text-align: center;
  font-family: "Ephesis";
  width: 90%;
  font-size: 1.9rem;
  color: #bf9b3d;
  font-weight: normal;
  line-height: 1;
}
.card-preview-3 > p {
  text-align: center;
  font-family: "Scheherazade New";
  width: 70%;
  font-size: 0.9rem;
  color: #ffffff;
  font-weight: normal;
  line-height: 1;
}
@media only screen and (max-width: 991px) {
  .card-preview-3 > h5 {
    text-align: center;
    font-family: "Ephesis";
    width: 90%;
    font-size: 5rem;
    color: #bf9b3d;
    font-weight: normal;
    line-height: 1;
  }
  .card-preview-3 > p {
    text-align: center;
    font-family: "Scheherazade New";
    width: 70%;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: normal;
    line-height: 1;
    padding: 20px;
  }
}
