{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'cards:home' %}">Card List</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-9">
        <div class="card">
            <div class="card-header">
                <strong>{{title|title}}</strong>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form.business_name|as_crispy_field }}
                            {{ form.title|as_crispy_field }}
                            {{ form.content|as_crispy_field }}
                        </div>
                        <div class="col-sm-6">
                            {{ form.promotion|as_crispy_field }}
                            {{ form.business_reinstatement|as_crispy_field }}
                            {{ form.image|as_crispy_field }}
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-sm">Back</a>
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm float-right">
                </div>
            </form>
        </div>
        <br>
    </div>
    <div class="col-sm-3">
        <h4>Background Theme</h4>
        <div class="row row-cols-1 row-cols-md-2">
        {% for img in themes %}
            <div class="col mb-4 mt-4">
              <div class="card">
                <img src="{{ img.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <small class="card-title">{{img.name}}</small>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<br>

{% endblock %}