{% extends "base.html" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'cards:home' %}">Card List</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        <div class="card">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="card-body">
                    <p>Are you sure you want to delete <strong>{{ instance.business_name|title }}</strong>?</p>
                </div>
                <div class="card-footer">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-sm">Cancel</a>
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br><br>
{% endblock %}