{% extends "base.html" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'cards:home' %}">Card List</a></li>
    </ol>
</nav>
{% include 'messages.html' %}
<div>
    {% if request.user.is_authenticated %}
        {% if perms.cardadds.add_cardadd %}
            <a href="{% url 'cards:create-card' %}" class="float-right btn btn-primary btn-sm">Create Card</a>
        {% else %}

        {% endif %}
    {% else %}
    {% include "login.html" %}
    {% endif %}
    <h3>Card List</h3>
    <hr>
    <div class="row">
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover" id="cards">
                        <thead>
                            <tr>
                                <th>Theme</th>
                                <th>Business name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for card in cards %}
                            <tr>
                                <td>
                                    <a href="{% url 'cards:card-details' card.ref_code %}"><img src="{{card.image.image.url}}" alt="" style="width: 100px"></a>
                                </td>
                                <td>
                                    <p>
                                        <a href="{% url 'cards:card-details' card.ref_code %}">{{ card.business_name|title }}</a> | <small class="text-muted">Created by: <a href="">@{{card.created_by.username}}</a></small> <br>
                                        <small>{{ card.title|title }}</small> <br>
                                        <small class="text-muted">Link: <a href="{% url 'cards:card-link' card.ref_code %}" target="_blank">{{card.card_link}}</a></small> <br>
                                        <small class="text-muted">Date created: {{ card.created }} | Updated: {{card.updated}}</small>
                                    </p>
                                </td>
                                <td>
                                    <div>
                                        <a href="">Edit</a> |
                                        <a href="">Delete</a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header">
                    <strong>Categories</strong>
                </div>
                <div class="card-body">
                    {% for cat in categories %}
                        {{ cat.category_name }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endblock %}