{% extends "base.html" %}

{% block content %}
<div>
    <h3>Home page</h3>
    {% if request.user.is_authenticated %}
        {% if perms.cardadds.add_cardadd %}
            <a href="{% url 'cards:create-card' %}">Create Card</a>
        {% else %}

        {% endif %}
    {% else %}
    {% include "login.html" %}
    {% endif %}
    <hr>
    <h3>Card List</h3>
    {% for card in cards %}
    <span>Created by: @{{card.created_by.get_username}}</span>
    <br>
    {{ card.business_name|title }} <span>{% if perms.cardadds.change_cardadd %}<a href="{% url 'cards:update-card' card.ref_code %}">Edit</a>{% endif %}</span>
    <hr>
    {% endfor %}
</div>
{% endblock %}