{% extends "base.html" %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'cards:home' %}">Card List</a></li>
    </ol>
</nav>
<div>
    {% if request.user.is_authenticated %}
        {% if perms.cardadds.add_cardadd %}
            <a href="{% url 'cards:create-card' %}" class="float-right btn btn-primary btn-sm">Create Card</a>
        {% else %}

        {% endif %}
    {% else %}
    {% include "login.html" %}
    {% endif %}
    <h3>Card List</h3>
    <hr>
    <div class="row row-cols-1 row-cols-md-4">
        {% for card in cards %}
        <a href="{% url 'cards:card-details' card.ref_code %}" target="_blank">
            <div class="col mb-4">
                <div class="card bg-dark text-white">
                    <img src="{{ card.image.image.url }}" class="card-img" alt="...">
                    <div class="card-img-overlay">
                      <h5 class="card-title">{{ card.business_name|title }}</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text">{{ card.ref_code }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}