{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'cards:home' %}">Card List</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-sm-8">
        {% if perms.cardadds.change_cardadd %}
        <div class="card">
            <div class="card-header">
                <strong>{{title|title}}</strong>
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            {{ form.business_name|as_crispy_field }}
                            {{ form.title|as_crispy_field }}
                            {{ form.content|as_crispy_field }}
                        </div>
                        <div class="col-sm-6">
                            {{ form.promotion|as_crispy_field }}
                            {{ form.business_reinstatement|as_crispy_field }}
                            {{ form.image|as_crispy_field }}
                        </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                    <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary btn-sm">Back</a>
                    <input type="submit" value="Submit" class="btn btn-primary btn-sm float-right">
                </div>
            </form>
        </div>
        {% else %}
        <div class="card">
            <div class="card-body">
                <strong>Ask your app administrator for access.</strong>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-4">
        {% if instance.image.name == "Christmas theme 1" %}
		<div class="card bg-dark text-white">
			<img src="{{instance.image.image.url}}" class="card-img" alt="...">
			<div class="card-img-overlay">
				<h5 class="card-title">{{instance.title|title}}</h5>
				<p class="card-text">{{instance.content}}</p>
				<p class="card-text">{{instance.promotion|upper}}</p>
			</div>
		</div>
        <a href="{{instance.card_link}}">{{instance.card_link}}</a>
        {% endif %}
        {% if instance.image.name == "Christmas theme 2" %}
		<div class="card bg-dark text-white">
			<img src="{{instance.image.image.url}}" class="card-img" alt="...">
			<div class="card-img-overlay">
				<h5 class="card-title">{{instance.title|title}}</h5>
				<p class="card-text">{{instance.content}}</p>
				<p class="card-text">{{instance.promotion|upper}}</p>
			</div>
		</div>
        <a href="{{instance.card_link}}">{{instance.card_link}}</a>
        {% endif %}
	</div>
</div>
<br>


{% endblock %}