@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=Scheherazade New+Slab:wght@400;700&family=Scheherazade+New:wght@400;700&family=Sunshiney&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.card-preview-1 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.card-preview-1 > h5 {
  text-align: center;
  font-family: "Ephesis";
  width: 90%;
  font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1600 - 300)));
  color: #bf9b3d;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0;
}
.card-preview-1 > p {
  text-align: center;
  font-family: "Scheherazade New";
  width: 70%;
  font-size: calc(08px + (12 - 08) * ((100vw - 300px) / (1600 - 300)));
  color: #ffffff;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0px;
}

.card-preview-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.card-preview-2 > h5 {
  text-align: center;
  font-family: "Ephesis";
  width: 90%;
  font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1600 - 300)));
  color: #bf9b3d;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0;
}
.card-preview-2 > p {
  text-align: center;
  font-family: "Scheherazade New";
  width: 70%;
  font-size: calc(08px + (12 - 08) * ((100vw - 300px) / (1600 - 300)));
  color: #bf9b3d;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0px;
}

.card-preview-3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.card-preview-3 > h5 {
  text-align: center;
  font-family: "Ephesis";
  width: 90%;
  font-size: calc(24px + (30 - 24) * ((100vw - 300px) / (1600 - 300)));
  color: #bf9b3d;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0;
}
.card-preview-3 > p {
  text-align: center;
  font-family: "Scheherazade New";
  width: 70%;
  font-size: calc(08px + (12 - 08) * ((100vw - 300px) / (1600 - 300)));
  color: #ffffff;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 0px;
}
.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.text-width {
  width: 100%;
  font-size: 60%;
}
#text-title {
  font-weight: bold;
  font-size: 16px;
  font-family: 'Montserrat';
  line-height: 1;
}
#text-bhours {
  /* border: 1px solid {{instance.text_color}}; */
  padding: 5px;
  font-weight: bold;
  border-radius: 3px;
}
