{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'popups:image_list' %}">Themes</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header">
                {{title|title}}
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="card-body">
                    {{form|crispy}}
                </div>
                <div class="card-footer">
                    <a href="" class="btn btn-outline-secondary btn-sm">Cancel</a>
                    <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Card Themes</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="card-columns">
                {% for theme in themes %}
                    <div class="card">
                        <div class="card-img-top">
                            <img src="{{ theme.image.url }}" alt="{{theme.image.url}}" style="width: 100%; height: auto;">
                        </div>
                        <div class="card-body">
                            <small>{{ theme.name|title }}</small>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}