{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'popups:image_list' %}">Themes</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary float-left">{{title|title}}</h6>
                <a href="{% url 'popups:add_image' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right">
                    <i class="fas fa-plus fa-sm text-white-50"></i> 
                    Add image
                </a>
            </div>
            <div class="card-body">
                <div class="card-columns">
                    {% for theme in images %}
                    <div class="card">
                        <img class="card-img-top" src="{{theme.image.url}}" alt="{{theme.name}}">
                        <div class="card-img-overlay">
                            <a href="{%url 'popups:delete_image' theme.pk%}" class="btn btn-outline-danger btn-sm float-right">X</a>
                        </div>
                        <p class="card-title" style="text-align: center;">{{theme.name|title}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Recent Activities</h6>
            </div>
            <!-- Card Body -->
            
            <div class="card-body">
                <table class="table table-hover" id="dataTable">
                    <tbody>
                        {% for img in activities %}
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="card-body">
                                        <p>
                                            <a href="#">{{img.name|title}}</a>
                                            <hr>
                                            <!-- <small>Card link: <a href=""></a></small> -->
                                            <small class="text-muted">Created: {{img.created|timesince}} ago</small>
                                            <br>
                                            <small class="text-muted">{% ifchanged img.updated %}Updated: {{img.updated|timesince}} ago {% endifchanged %}</small>
                                        </p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}