{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'popups:home' %}">Cards</a></li>
    </ol>
</nav>
<div class="row">
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary float-left">{{title|title}}</h6>
                <a href="{% url 'popups:add' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right">
                    <i class="fas fa-plus fa-sm text-white-50"></i> 
                    Create Card
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Business Name</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Business Name</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for card in cards %}
                            <tr>
                                <td>
                                    <div class="card mb-3">
                                        <div class="row g-0">
                                          <div class="col-md-4">
                                            <img src="{{card.theme.image.url}}" class="img-fluid rounded-start" alt="{{card.theme.image.url}}">
                                          </div>
                                          <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    {{ card.business_name|title }}
                                                </h5>
                                                <p class="card-text">
                                                    {{ card.title|title }}
                                                    <br>
                                                    <small class="text-muted">Created: {{card.created|date}}</small> | <small>by @{{ card.user }}</small>
                                                </p>
                                                <a href="{% url 'popups:preview' card.ref_code %}" class="btn btn-outline-info btn-sm">View</a>
                                                <a href="{% url 'popups:details' card.ref_code %}" class="btn btn-outline-primary btn-sm">Update</a>
                                                <a href="{% url 'popups:delete' card.ref_code %}" class="btn btn-outline-danger btn-sm">Delete</a>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Recent Activities</h6>
            </div>
            <!-- Card Body -->
            
            <div class="card-body">
                {% for card in card_activity %}
                <div class="card">
                    <div class="card-body">
                        <p>
                            <a href="{% url 'popups:details' card.ref_code %}">{{card.business_name|title}}</a><br>
                            <small class="text-muted">Created by: @{{card.user|title}}</small>
                            <hr>
                            <!-- <small>Card link: <a href=""></a></small> -->
                            <small class="text-muted">Created: {{card.created|timesince}} ago</small>
                            <br>
                            <small class="text-muted">{% ifchanged card.updated %}Updated: {{card.updated|timesince}} ago by @{{card.updated_by|title}}{% else %}{{ empty }}{% endifchanged %}</small>
                            <br>
                            <a href="{% url 'popups:preview' card.ref_code %}" class="btn btn-outline-info btn-sm float-left">Preview Card</a>
                        </p>
                    </div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create card</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{form|crispy}}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Create">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}