<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'cards:home' %}">Ad On Group</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cards:home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Christmas Cards</a>
                    </li>
                    {% if perms.auth.view_user %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Users</a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav mr-rigth">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hello there {{ request.user.username|title }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!-- <a class="dropdown-item" href="#">Profile</a> -->
                            <a class="dropdown-item" href="{%url 'password_change'%}">Change password</a>
                            {% if perms.auth.add_user %}
                            <a class="dropdown-item" href="{%url 'cards:add-user'%}">Add user</a>
                            {% endif %}
                            <a class="dropdown-item" href="{%url 'logout'%}">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>